<app-navbar></app-navbar>
<div class="mt-0 pt-0 mx-auto main">
    <div class="d-flex justify-content-center divSearch">
        <div class="mt-4 col-6"> 
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (keydown.enter)="search()" class="w-100 px-4"> 
        </div>
    </div>
    <div class="row justify-content-center divLarge mt-0">
        <ng-container class="divSmall mx-auto justify-content-center"
            *ngFor="let service of listOfServices; let i = index;">
            <div *ngIf="i < 3" class="col-2 divVerySmall">
                <app-saved-service [inputElement]="service"></app-saved-service>
            </div>
        </ng-container>
    </div>
    <div class="row mt-0 pt-0 pt-0 mx-auto justify-content-center divLarge ">
        <ng-container class="divSmall justify-content-center" *ngFor="let service of listOfServices; let i = index;">
            <div *ngIf="i >= 3" class="col-2 divVerySmall">
                <app-saved-service [inputElement]="service"></app-saved-service>
            </div>
        </ng-container>
    </div>
    <div class="plus-sign" (click)="createCode()">+</div>
    <div class="center-container mt-0">
        <div>
            <button *ngIf="prev != current" (click)="goToPrevPage()" class="mx-5"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M48 256a208 208 0 1 1 416 0A208 208 0 1 1 48 256zm464 0A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9c4.2 4.5 10.1 7.1 16.3 7.1c12.3 0 22.3-10 22.3-22.3V304h96c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32H256V150.3c0-12.3-10-22.3-22.3-22.3c-6.2 0-12.1 2.6-16.3 7.1L117.5 242.2c-3.5 3.8-5.5 8.7-5.5 13.8s2 10.1 5.5 13.8l99.9 107.1z" />
                </svg></button>
            <button *ngIf="prev == current" class="mx-5 dis"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M48 256a208 208 0 1 1 416 0A208 208 0 1 1 48 256zm464 0A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9c4.2 4.5 10.1 7.1 16.3 7.1c12.3 0 22.3-10 22.3-22.3V304h96c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32H256V150.3c0-12.3-10-22.3-22.3-22.3c-6.2 0-12.1 2.6-16.3 7.1L117.5 242.2c-3.5 3.8-5.5 8.7-5.5 13.8s2 10.1 5.5 13.8l99.9 107.1z" />
                </svg></button>
            <button *ngIf="next != current" (click)="goToNextPage()" class="mx-5"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1c-4.2-4.5-10.1-7.1-16.3-7.1C266 128 256 138 256 150.3V208H160c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h96v57.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.3-7.1l99.9-107.1c3.5-3.8 5.5-8.7 5.5-13.8s-2-10.1-5.5-13.8L294.6 135.1z" />
                </svg></button>
            <button *ngIf="next == current" class="mx-5 dis"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1c-4.2-4.5-10.1-7.1-16.3-7.1C266 128 256 138 256 150.3V208H160c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h96v57.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.3-7.1l99.9-107.1c3.5-3.8 5.5-8.7 5.5-13.8s-2-10.1-5.5-13.8L294.6 135.1z" />
                </svg></button>
        </div>
        <app-popup></app-popup>
    </div>
</div>
<app-loader *ngIf="loaderFlag"></app-loader>