<div>
    <ul class="m-0 py-3">
        <img class="d-inline mt-0 pt-0" src="assets/logo.svg">
        <li class="px-4 py-3 d-inline"><a href="home">Home</a></li>
        <li class="px-4 py-3 d-inline"><a href="avaiable-service">Available services</a></li>
        <li class="px-4 py-3 d-inline"><a href="run-code">Run our own code</a></li>
        <li class="px-4 py-3 d-inline"><a href="settings">Settings</a></li>
        <li class="px-4 py-3 d-inline"><a href="result">Results</a></li>
        <li class="px-4 py-3 d-inline"><a href="contact">Contact</a></li>
        <li class="px-4 py-3 d-inline"><a href="about">About</a></li>
        <li class="px-4 py-3 d-inline" id="account"><a  href="about">Log out</a></li>
    </ul>
</div>