<div class=" d-flex containerStart m-0 p-0">
    <div class="content">
        <div class=" mx-auto  container mt-1">
            <div id="content-home" class="d-inline mx-auto justify-content-center">
                <h1 class=""> {{translations.info.title}}</h1>
                <h2 class="my-0 py-0">{{translations.info.user.title}}</h2><br>
                <ul class="mt-0">
                    <li class="mx-auto my-0">{{translations.info.user.info1}}</li>
                    <li class="mx-auto my-0">{{translations.info.user.info2}}</li>
                    <li class="mx-auto my-0">{{translations.info.user.info3}}</li>
                    <li class="mx-auto my-0">{{translations.info.user.info4}}</li>
                    <li class="mx-auto my-0">{{translations.info.user.info5}}</li>
                </ul>
                <h2 class="my-0 py-0">{{translations.info.code.title}}</h2><br>
                <ul>
                    <li class="mx-auto my-0">{{translations.info.code.info1}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info2}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info3}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info4}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info5}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info6}}</li>
                    <li class="mx-auto my-0">{{translations.info.code.info7}}</li>
                </ul>
                <a href="/start-up" class="d-block mx-auto mt-2">{{translations.info.startUp}}</a>
            </div>
        </div>
    </div>
</div>
<app-popup></app-popup>
