<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="row mt-5 pt-5 ms-5 ps-5">
    <div id="content-home" class="d-inline col-6 mt-5 ps-5">
        <h1>
            Platforma Distribuită pentru Execuția Serviciilor în Cluster
        </h1>
        <p class="mt-5 pt-5">
            Bine ați venit pe platforma noastră inovatoare și distribuită, meticulos proiectată pentru a gestiona și
            executa servicii într-un mediu cluster dinamic. Misiunea noastră principală este să îmbunătățim eficiența,
            să asigurăm scalabilitatea și să consolidăm securitatea în peisajul contemporan al aplicațiilor distribuite.
            Platforma noastră oferă o abordare cuprinzătoare care acoperă implementarea serviciilor, gestionarea
            acestora și monitorizarea continuă.</p><br>
        <h2>
            Alăturați-vă nouă astăzi și deblocați potențialul nelimitat al aplicațiilor distribuite!
        </h2>
    </div>
    <div class="d-inline col-6 ps-3 mt-5 pt-2">
        <img id="img-main-page" class="ms-5 ps-5" src="/assets/home.svg">
    </div>
</div>