<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center my-4"> {{translations.feedback.title}}</h1>
            <div class="my-3">
                <label for="email">{{translations.feedback.email}}:</label>
                <input type="text" id="email" [(ngModel)]="email" (click)="submit()"class="form-control">
            </div>
        </div>
        <p></p>
        <div class="d-flex  justify-content-center">
            <div >
                <button *ngIf="prevPage" (click)="goToPrevPage()" class="mx-5"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 256a208 208 0 1 1 416 0A208 208 0 1 1 48 256zm464 0A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9c4.2 4.5 10.1 7.1 16.3 7.1c12.3 0 22.3-10 22.3-22.3V304h96c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32H256V150.3c0-12.3-10-22.3-22.3-22.3c-6.2 0-12.1 2.6-16.3 7.1L117.5 242.2c-3.5 3.8-5.5 8.7-5.5 13.8s2 10.1 5.5 13.8l99.9 107.1z" />
                    </svg></button>
                <button *ngIf="!prevPage" class="mx-5 dis"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M48 256a208 208 0 1 1 416 0A208 208 0 1 1 48 256zm464 0A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9c4.2 4.5 10.1 7.1 16.3 7.1c12.3 0 22.3-10 22.3-22.3V304h96c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32H256V150.3c0-12.3-10-22.3-22.3-22.3c-6.2 0-12.1 2.6-16.3 7.1L117.5 242.2c-3.5 3.8-5.5 8.7-5.5 13.8s2 10.1 5.5 13.8l99.9 107.1z" />
                    </svg></button>
                <button *ngIf="nextPage" (click)="goToNextPage()" class="mx-5"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1c-4.2-4.5-10.1-7.1-16.3-7.1C266 128 256 138 256 150.3V208H160c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h96v57.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.3-7.1l99.9-107.1c3.5-3.8 5.5-8.7 5.5-13.8s-2-10.1-5.5-13.8L294.6 135.1z" />
                    </svg></button>
                <button *ngIf="!nextPage" class="mx-5 dis"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1c-4.2-4.5-10.1-7.1-16.3-7.1C266 128 256 138 256 150.3V208H160c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h96v57.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.3-7.1l99.9-107.1c3.5-3.8 5.5-8.7 5.5-13.8s-2-10.1-5.5-13.8L294.6 135.1z" />
                    </svg></button>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{translations.feedback.email}}</th>
                            <th>{{translations.feedback.subject}}</th>
                            <th>{{translations.feedback.content}}</th>
                            <th>{{translations.feedback.action}}</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of logs">
                            <td class="left-align">{{ item.email }}</td>
                            <td class="left-align">{{ item.subject }}</td>
                            <td class="left-align">{{ item.content }}</td>
                            <td>
                                <button (click)="deleteItem(item.id)" class="me-3 px-0">{{translations.feedback.deleteButton}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-popup></app-popup>
</div>
<app-loader *ngIf="loaderFlag"></app-loader>