<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="row mt-0 pt-0 ms-5 ps-5">
    <div id="content-home" class="d-inline col-6 mt-5 ps-5">
        <h1> {{translations.home.title}}</h1>
        <p class="mt-5 pt-5 mb-0">{{translations.home.message}}</p><br>
        <h2 class="mt-0 pt-0">{{translations.home.message2}}</h2>
    </div>
    <div class="d-inline col-6 ps-3 mt-5 pt-5">
        <img id="img-main-page" class="ms-5 ps-5 pt-5" src="/assets/home.svg">
    </div>
</div>
<app-popup></app-popup>