<app-navbar></app-navbar>
<div class=" mx-auto lis-5 container mt-5">
    <div id="content-home" class="d-inline mx-auto justify-content-center">
        <h1 class=""> {{translations.info.title}}</h1>
        <h2 class="mt-4 ">{{translations.info.user.title}}</h2><br>
        <ul>
            <li class="mx-auto my-0">{{translations.info.user.info1}}</li>
            <li class="mx-auto my-0">{{translations.info.user.info2}}</li>
            <li class="mx-auto my-0">{{translations.info.user.info3}}</li>
            <li class="mx-auto my-0">{{translations.info.user.info4}}</li>
            <li class="mx-auto my-0">{{translations.info.user.info5}}</li>
        </ul>
        <h2 class="mt-4">{{translations.info.code.title}}</h2><br>
        <ul>
            <li class="mx-auto my-0">{{translations.info.code.info1}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info2}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info3}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info4}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info5}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info6}}</li>
            <li class="mx-auto my-0">{{translations.info.code.info7}}</li>
        </ul>
    </div>
    <app-popup></app-popup>